@use "../abstracts/variables/index" as *;

*{
    scroll-behavior: smooth;
    scroll-margin-top: 80px;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $roboto--font;
}

a{
    text-decoration: none;
}