@use "../abstracts/functions" as *;
@use "../abstracts/variables/index" as *;
@use "../abstracts/mixins" as *;

.course{
    padding: 1rem 5rem;
    background-color: theme-colors();
    font-family: $roboto--font;
     
    @include responsive(xs){
        padding: 1rem;
    }

    @include responsive(sm){
      padding: 1rem 5rem;
  }

  @include responsive(lg){
    padding: 1rem 5rem;
}

@include responsive(xxl){
  padding: 1rem 15rem;
}

   & .course__title{
    font-size: 26px;
    font-weight: 800;
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
      
    @include responsive(xs){
        font-size: 20px;
    }

    @include responsive(sm){
      font-size: 24px;
  }

  @include responsive(lg){
    font-size: 26px;
}


   }
   & .course__text{
    font-size: 14px;
    line-height: 25px;
    color: #ffffffab;
    text-align: center;
   }
   & .course--items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;

      @include responsive(xs){
        flex-direction: column;
        padding: 1rem;
    }

    @include responsive(sm){
      flex-direction: column;
      padding: 1rem;
  }

  @include responsive(lg){
    flex-direction: row;
    padding: 1rem 4rem;
}

    & .course__card{
        background: #fff;
        border-radius: 8px;
        width: 32%;
        float: left;
         
        @include responsive(xs){
          width: 100%;
          margin-bottom: 15px;
       }

       @include responsive(sm){
        width: 80%;
        margin-bottom: 15px;
     }

     @include responsive(lg){
      width: 32%;
      margin-bottom: 15px;
   }

      & .course__img{
        width: 100%;
        border-radius: 8px 8px 0px 0px;
      }

      & .course__body{
        padding:15px 10px;
        & .course__card__title{
            font-size: 18px;
            font-weight: 800;
            margin-bottom: 5px;
            margin-top: 0px;
            color: theme-colors("dark");
          }
          & .course__card__text{
            font-size: 14px;
            line-height: 25px;
            color: #7a7a7a;
            text-align: justify;
          }
      }
    }
    & .course__card:hover{
        box-shadow: 0px 0px 4px  #333;
    }
   }
}